<html>
<head>
  <script src="https://sdk.amazonaws.com/js/aws-sdk-2.569.0.min.js"></script>
  <script type="text/javascript">
      AWS.config.update({
          accessKeyId : 'AKIAZ7QEZCC2T3IYFRR4',
          secretAccessKey : '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'
      });
      AWS.config.region = 'eu-west-2';
  </script>
  <style>
    #loading {
      width: 40%;
      background-color: #ddd;
    }

    #myBar {
      width: 0%;
      height: 30px;
      background-color: #4CAF50;
      text-align: center;
      line-height: 30px;
      color: white;
    }
</style>
</head>
  <body>

    <h1>Edit your account</h1>

    <hr>

    <h2>Your avatar</h2>

    <input type="file" id="file-input">

    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.bundle.min.js" integrity="sha384-xrRywqdh3PHs8keKZN+8zzc5TX0GRTLCcmivcbNJWm2rs5C8PRhcEn3czEjhAO9o" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <p id="status">Please select a file</p>
    <img style="border:1px solid gray;width:300px;" id="preview" src="/static/media/default.png">

    <!-- <div style="display:none"  id="loading" class="spinner-border" role="status">
      <span class="sr-only">Loading...</span>
      <span id="progress"></span>
    </div> -->

    <div style="display:none" id="loading">
      <div id="myBar">0%</div>
    </div>

    <h2>Your information</h2>

    <form method="POST" action="/submit-form/">
      <input type="hidden" id="avatar-url" name="avatar-url" value="/static/media/default.png">
      <input type="text" name="username" placeholder="Username"><br>
      <input type="text" name="full-name" placeholder="Full name"><br><br>

      <hr>
      <h2>Save changes</h2>

      <input type="submit" value="Update profile">
    </form>


    <script type="text/javascript">

    /*
      Function to carry out the actual POST request to S3 using the signed request from the Python app.
    */
    function uploadFile(file, s3Data, url){
      const xhr = new XMLHttpRequest();
      xhr.open('POST', s3Data.url);
      xhr.setRequestHeader('x-amz-acl', 'public-read');

      const postData = new FormData();
      for(key in s3Data.fields){
        postData.append(key, s3Data.fields[key]);
      }
      postData.append('file', file);

      xhr.onreadystatechange = () => {
        if(xhr.readyState === 4){
          if(xhr.status === 200 || xhr.status === 204){
            document.getElementById('preview').src = url;
            document.getElementById('avatar-url').value = url;
            $('#loading').hide();
          }
          else{
            $('#loading').hide();
            alert('Could not upload file.');
          }
        }
      };
      xhr.send(postData);
    }

    /*
      Function to get the temporary signed request from the Python app.
      If request successful, continue to upload the file using this signed
      request.
    */
    function getSignedRequest(file){
      console.log("hi there");
      var elem = document.getElementById("myBar");
      var bucket = new AWS.S3({params: {Bucket: 'bollyeobucket4'}});
      var params = {Key: file.name, ContentType: file.type, Body: file};
      var result = bucket.upload(params).on('httpUploadProgress', function(evt) {
        var perage = parseInt((evt.loaded * 100) / evt.total);
        elem.style.width = perage + "%";
        elem.innerHTML = perage  + "%";
      console.log("Uploaded :: " + parseInt((evt.loaded * 100) / evt.total)+'%');
      }).send(function(err, data) {
        $('#loading').hide();
      });
      var url = 'https://%s.s3.amazonaws.com/%s'+'%bollyeobucket4'+file.name;
      console.log(url);
      // const xhr = new XMLHttpRequest();
      // xhr.open('GET', `/sign-s3?file-name=${file.name}&file-type=${file.type}`);
      // xhr.onreadystatechange = () => {
      //   if(xhr.readyState === 4){
      //     if(xhr.status === 200){
      //       const response = JSON.parse(xhr.responseText);
      //       uploadFile(file, response.data, response.url);
      //     }
      //     else{
      //       $('#loading').hide();
      //       alert('Could not get signed URL.');
      //     }
      //   }
      // };
      // xhr.send();
    }

    /*
       Function called when file input updated. If there is a file selected, then
       start upload procedure by asking for a signed request from the app.
    */
    function initUpload(){
      console.log("init");
      const files = document.getElementById('file-input').files;
      const file = files[0];
      if(!file){
        return alert('No file selected.');
      }
      $('#loading').show();
      getSignedRequest(file);

    }

    /*
       Bind listeners when the page loads.
    */
    (() => {
      document.getElementById('file-input').onchange = initUpload;
    })();

    </script>
  </body>
</html>
